In [2]:
import pandas as pd

pd.options.display.float_format = '{:,.2f}'.format
pd.set_option('display.width', 65)
pd.set_option('display.max_columns', 8)

In [3]:

landtemps = pd.read_csv('data/landtempssample.csv',
                        names=['stationid', 'year', 'month',
                               'avgtemp', 'latitude', 'longitude',
                               'elevation', 'station', 'countryid',
                               'country'],
                        skiprows=1,
                        parse_dates=[['month', 'year']],
                        low_memory=False)

In [4]:
landtemps.head()

,month_year,stationid,avgtemp,latitude,...,elevation,station,countryid,country
0,2000-04-01,USS0010K01S,5.27,39.90,...,"2,773.70",INDIAN_CANYON,US,United States
1,1940-05-01,CI000085406,18.04,-18.35,...,58.00,ARICA,CI,Chile
2,2013-12-01,USC00036376,6.22,34.37,...,61.00,SAINT_CHARLES,US,United States
3,1963-02-01,ASN00024002,22.93,-34.28,...,65.50,BERRI_IRRIGATION,AS,Australia
4,2001-11-01,ASN00028007,nan,-14.78,...,79.40,MUSGRAVE,AS,Australia

In [13]:

# Replace all null values with the mean (mean can be replaced with almost any function from the statistics module)
# landtemps.fillna(s.mean())
landtemps.describe()

        avgtemp   latitude  longitude  elevation
count 85,554.00 100,000.00 100,000.00 100,000.00
mean      10.92      35.08     -38.12     565.56
std       11.52      23.55      84.30   1,073.65
min      -70.70     -90.00    -179.98    -350.00
25%        3.46      33.19    -101.66      64.00
50%       12.22      40.79     -79.57     240.80
75%       19.57      47.42      17.53     644.70
max       39.95      82.52     179.75   9,999.00

In [19]:
landtemps[landtemps["avgtemp"] > 30].count()

month_year    912
stationid     912
avgtemp       912
latitude      912
longitude     912
elevation     912
station       912
countryid     912
country       912
dtype: int64